<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DMR Web Resolver</title>
    <link href="s.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue@latest/dist/vue.global.prod.js"></script>
</head>
<body>
    <h1>DMR Web Resolver Sample</h1>
    <div id="app">
        <div>
            <input type="text" size="50" v-model="dtmi">
            <button @click="search()">Resolve</button>
            <input type="checkbox" checked="true"  v-model="tryExpanded"> TryExpanded
            <input type="text" size="50" v-model="repoBaseUrl">
        </div>
        <div class="samples">
            <div id="sample-dtmis" @click="changeSelection">
                <small id="dtmi:com:example:TemperatureController;1">dtmi:com:example:TemperatureController;1 </small>
                <small id="dtmi:MeshSystems:tXs:SensorSync;1">dtmi:MeshSystems:tXs:SensorSync;1 </small>
                <small id="dtmi:jp:co:covia:ActyG3;2">dtmi:jp:co:covia:ActyG3;2 </small>
                <small id="dtmi:Espressif:SensorController;2">dtmi:Espressif:SensorController;2 </small>
                <small id="dtmi:Advantech:EPC_U2117;2">dtmi:Advantech:EPC_U2117;2 </small>
                <small id="dtmi:impinj:FixedReader;14">dtmi:impinj:FixedReader;14 </small>
            </div>
        </div>
        <span class="error" v-if="errInfo">{{ errInfo }}</span>
        <div class="rendered" v-if="loaded">
            <ul>
                <li v-for="comp in Components">
                    <h4>{{ comp.name }} <a :href="getDtmiUrl(comp.schema)" target="_blank">{{ comp.schema }}</a>
                    </h4>
                    <ul>
                        <li v-for="t in comp.telemetry">
                            <Telemetry :telemetry="t" :schemas="comp.schemas"></Telemetry>
                        </li>
                        <li v-for="p in comp.properties">
                            <Property :property="p" :schemas="comp.schemas"></Property>
                        </li>
                        <li v-for="c in comp.commands">
                            <Command :command="c" :schemas="comp.schemas"></Command>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <script type="module">
        import index from './index.js'
        import Property from './comps/Property.vue.js'
        import Telemetry from './comps/Telemetry.vue.js'
        import Command from './comps/Command.vue.js'

        const { createApp } = Vue
        const app = createApp(index)
        app.component("Property", Property)
        app.component("Telemetry", Telemetry)
        app.component("Command", Command)
        app.mount('#app')
    </script>
    <div>
        Based on protoptypes from <a href="https://github.com/iotmodels/web-resolver">iotmodels</a>
    </div>
</body>

</html>