body{
    font-family:monospace
}
.samples {
    font-size: smaller;
    color:gray;
    word-wrap: break-word
}
.samples>div>small:hover {
    color:black;
    cursor:pointer;
}
.status {
    margin: 5px;
    bottom: 10px;
    padding: 10px;
}
.schemas {
    margin-left: 40px;
    background-color: rgb(244,243,241);
    padding:2px;
    border: 1px solid lightgray;
    border-radius: 3px;

}
.rendered {
    width: fit-content;
    padding: 10px;
    border: gray solid 2px;
}
li.righter {
    margin-left: 40px;
}

.anchor {
    text-decoration: underline;
    cursor: pointer;
}

.error {
    color: red
}